/*.logo {
	height: 110px;
	width: 150px;
	position: relative;
  right: 15px;
}
.bottompics {
	height: 80px;
	width: 150px;
	position: relative;
  right: 15px;
  padding: 20px;
}
.foot {
	position: relative;
	// top: 20px;
	background-color: white;
	padding: 20px;
}
.email {
	color: blue;
}
.row {
	float: right;
	color: black;
	margin-left: 40%;
	
	padding-bottom: 20;
}*/