a {
	color: white;
	text-decoration: none;
}
.bar {
	background-color: #dd33fa;
}
.appbar {
	background-color: #3F51B5;
}
.logo {
	height: 100px;
	width: 120px;
	position: relative;
  right: 24px;
  border-radius: 50%;
}
@import url("https://fonts.googleapis.com/css?family=Abril+Fatface|Monoton|Playfair+Display+SC");