.grey-text {
	font-size: 17px;
	padding: 20px;

}
.teamCardBody {
	background-color: red;
}
.team-body-wrapper {
	padding: 0 0 500px 0;
	text-align: center;

}
.team-body {
	display: inline-block;
	padding: 0px;
}
.column1 {
	/*border: 1px solid black;*/
}
#section3 {
	padding: 0px 0px 10px 0;
}
div.row {
	margin: 0px;
}