.grey-text {
	font-size: 17px;
	padding: 20px;

}
.teamCardBody {
	background-color: red;
}
.team-body-wrapper {
	text-align: center;

}
.team-body {
	display: inline-block;
	padding: 0px;
}
.column1 {
	/*border: 1px solid black;*/
}
