/*#section4 {
	align-content: center;
}*/
.portfolioWrapper {
	/*align-content: center;*/
	text-align: center;

}
/*.portfolioDiv {
	display: inline-block;
}*/
.header {
	text-align: center;
}
.akira {
	padding: 10px;
}
#stride {
	border: 1px solid Gainsboro
}
#port-body {

	display: inline-block;
	padding: 0px;
	text-align: center
}
#esq {
	border: 1px solid black
}
a {
	color: #007BFF;
}