.motivate {
	// font-family: 'Abril Fatface', cursive;
	// font-family: 'Playfair Display SC', serif;
	font-family: 'Monoton', cursive;
	font-size: 75px;

	// background-color: white;
	color: white;
}
.back {
	background-color: black;
	color: white;
}
.route-wrapper {
	justify-content: center;
}
