#about-image {

}
#about-text {
	/*display: fill;*/
	/*background-color: #039be5;*/
	padding-top: 10px;
}

#section2 {

}
h4 {
	font-style: italic;
	font-weight: bolder;
}
#about-text {
	padding: 0px;
}
h2 {
	/*font-style: italic;*/
}
h3 {

	font-style: italic;
	font-weight: bolder;
	/*border: 1px solid black;*/
}
.feet {
	padding: 0px;
	margin: 0px;
}
/*@media(max-width:1023px)
{
 h3 {
    padding: 35px;
 }*/
#aboutstuff {
	padding: 0px 0px 0px 0px;
}
h1 {
	font-style: italic;
}