#about-image {
   background-image: linear-gradient(bottom, #039be5 50%, #ffffff 50%);
background-image: -o-linear-gradient(bottom, #039be5 50%, #ffffff 50%);
background-image: -moz-linear-gradient(bottom, #039be5 50%, #ffffff 50%);
background-image: -webkit-linear-gradient(bottom, #039be5 50%, #ffffff 50%);
background-image: -ms-linear-gradient(bottom, #039be5 50%, #ffffff 50%);
}
#about-text {
	/*display: fill;*/
	/*background-color: #039be5;*/
	padding-top: 10px;
}

#section2 {

}
h4 {
	font-style: italic;
	font-weight: bolder;
}
#about-text {
	padding: 0px;
}
h3 {

	font-style: italic;
	font-weight: bolder;
	/*border: 1px solid black;*/
	/*padding: 0 30px 100px 30px;*/
	/*margin: 0 200px 0 200px;*/
}
.feet {
	padding: 0px;
	margin: 0px;
}
@media(max-width:1023px)
{
 h3 {
    padding: 35px;
 }
}