
.App {
  /*background-color: black;*/
  /*opacity: .2;*/
  text-align: center;
  margin: 0 auto;
/*  background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/disp/35771931234507.564a1d2403b3a.gif')
*/}

.route-wrapper {
  position: relative;
}

.route-wrapper > div {
  position: absolute;
}
div.back {
	align-items: center;
}
