
.header {
  font-size: 30px;
  color: black;
  font-weight: bold;
  /*display: inline;*/
}
:root {
  --off-white: #fafafa;
}
div.col {
  padding: 0px 0px 0px 0px;
  /*margin: 100px;*/

}
.footer {
  padding: 0px;
}
#section5 {
  padding: 0px 0px;
}
div {
  padding: 0px;
}
hr {
  margin: 0px 0px;
}
.nav-items {
    font-size: 20px;
  display: inline;
  margin-left: 2rem;
  margin: 0 auto;
}
html {
  padding: 0px 0px;
}
.nav {
  background-color: var(--off-white);
  position: sticky;
  top: 0px;
  padding: 20px 20px;
  width: 100%;
  height: 60px;
  z-index: 1000;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
}
#section4 {
  padding: 20px;
}
.nav-logo {
  display: inline;
  height: 100px;
  width: 100px;
}

.nav-logo:hover {
  cursor: pointer;
}

.nav .nav-content {
  max-width: 900px;
  padding: 0rem 3rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav-item {
  display: inline;
  margin-left: 2rem;
  color: white;
}

.nav-item:hover {
  color: black;
  cursor: pointer;
}

.about-image {
 max-width: 100%;
}

.section-dark {
  background: #333;
  color: white;
}

.section-content {
  max-width: 800px;
  margin: 0 auto;
  height: 100vh;
  padding: 0px;
}

.section {
  /* Needed for children to be absolutely positioned relative to the parent. */
  /*position: relative;*/

  /* The height of the container. Must be set, but it doesn't really matter what the value is. */
  /*height: 100vh;*/
}

.parallax::after{
	/* Display and position the pseudo-element */
  content: " ";
  position: absolute;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  
  /* Move the pseudo-element back away from the camera,
   * then scale it back up to fill the viewport.
   * Because the pseudo-element is further away, it appears to move more slowly, like in real life. */
  max-width: 100%;
  transform: translateZ(-1px) scale(1);
  /* Force the background image to fill the whole element. */
  /* Keep the image from overlapping sibling elements. */ 
  z-index: -1;
}


.firstParallax::after{
  background-image: url("https://i.imgur.com/heXTzGw.jpg");
  background-repeat: no-repeat;


}
.secondParallax::after{
	background-image: url("https://i.imgur.com/jkKvJ6w.jpg");
  background-repeat: no-repeat;

}
.thirdParallax::after{
  background-image: url(https://i.imgur.com/YAIGwFU.jpg);
}
.fourthParallax{

}
.fifthParallax{

}
